<div class="container">
  <div class="gameBoard">
    @for (cell of grid; track $index) {
      <div class="cell"
           cdkDropList
           [attr.id]="addId($index)"
           [cdkDropListData]="cell.letter"
           [cdkDropListConnectedTo]="[easel]"
           (cdkDropListDropped)="drop($event)"
      >
        @for (l of cell.letter; track $index) {
          <div class="letter" cdkDrag>
            {{ l.letter }}
          </div>
        }
      </div>
    }
  </div>
  <div class="easels"
       cdkDropList
       cdkDropListOrientation="horizontal"
       #easel="cdkDropList"
       [cdkDropListData]="easels"
       [cdkDropListConnectedTo]="LIST_IDS"
       (cdkDropListDropped)="drop($event)"
  >
    @for (l of easels; track $index) {
      <div class="letter" cdkDrag>
        {{ l.letter }}
      </div>
    }
  </div>
</div>
